@import "_variables.scss";
@import "typography.scss";

@mixin display-flex() {

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin media-min-width($width){
  @media (min-width: $width) {
    @content;
  }
}

*{
    box-sizing: border-box;

}
html {
  font-size: 94.75%;
  @include media-min-width(40rem){
    font-size: 125%;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  @include display-flex();
  flex: {
    direction: column;
    wrap: nowrap;
  }
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: $size-default * 3 0;

  @include media-min-width(40rem){
    padding: 3rem 0;
  }
}

.sass-section{
  border: $border-default;
  background: lighten(map-get($colors, main), 73%);
  padding: $size-default * 2;
  text-align: center;
  width: 90%;
  @include media-min-width(40rem){
    width: 30rem;
  }
}
.sass-introduction {
  @extend .sass-section;
  box-shadow: $size-tiny $size-tiny $size-tiny / 2 #ccc;

  p {
    margin: 0;
  }
}


.sass-details {
  @extend .sass-section;
  padding: $size-default;
  margin: 2rem 0;
}

.section-header {
  border-bottom: $border-default;

  .section-header h1 {
    margin: 0 0 $size-default 0;
  }
}


.documentation-links {
  list-style: none;
  margin: $size-default 0 0 0;
  padding: 0;
  @include display-flex();
  flex-direction: column;

  li {
    margin: $size-tiny 0;
    background: white;
  }

  .documentation-link {
    text-decoration: none;
    color: map-get($colors, main);
    display: block;
    padding: $size-tiny;
    border: $border-default;

    &:hover,
    &:active {
      color: white;
      background: map-get($colors, secondary);
      border-color: map-get($colors, secondary);
    }
  }

}

