@font-face {
  font-family: "secretFontName";
  /* src: url("../fonts/AnonymousPro-Regular.woff2") format("woff2"); */
  /* src: url("../fonts/AnonymousPro-Regular.wofff") format("woff"); */
  src: url("../fonts/AnonymousPro-Regular.ttf") format("truetype");
  /* font-display: swap / block / fallback / optional / auto; */
}
@font-face {
  font-family: "secretFontName";
  src: url("../fonts/AnonymousPro-Bold.ttf") format("truetype");
  font-weight: 700;
}

.background {
  background: url("../images/plans-background.jpg"), center / cover;
  filter: grayscale(40%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 1.4rem;
  z-index: -10;
}
main {
  margin-top: 6rem;
}
.plan {
  margin-top: 3rem;
  width: 80%;
  border: 3px #0e4f1f solid;
  border-left: none;
  position: relative;
  overflow:hidden;
}

.plan:hover,
.plan:active {
  box-shadow: 2px 3px 3px #686e68;
  border-color: #990b57;
  filter: brightness(1.05);
  /* filter: contrast(150%); */
  animation: move-up 300ms linear forwards;
}
.plan a {
  text-decoration: none;
  display: block;
  padding: 2rem 1.5rem;
}

.plan__plus {
  background-color: #9be09b;
  margin-top: 3rem;
  position: relative;
  z-index: 1;
}

.plan__free {
  float: right;
  background-color: #b2dbb2;
  margin-left: 4rem;
  border: 3px #0e4f1f solid;
  border-right: none;
  text-align: right;
}

.clearfix {
  clear: both;
}

.plan__premium {
  background-color: #0e4f1f;
}

.plan__title {
  color: #0e4f1f;
}

.plan__premium .plan__title {
  color: white;
}

.plan__summary {
  color: #686e68;
}

.plan__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  color: white;
  background-color: #990b57;
  font-size: 1rem;
  padding: 0.5rem;
  z-index: 20;
  border-radius: 0.28rem;
  width: 14rem;
  text-align:center;
  transform: rotateZ(40deg) translateX(3.6rem) translateY(-0.5rem) ;
  /* transform-origin: 1rem 25%; */

}
.plan__premium .plan__summary {
  color: #b2dbb2;
}

.plan__description {
  background-color: white;
  color: #0e4f1f;
  font-family: "Montserrat", "secretFontName", "Roboto", sans-serif;
  /* font-style: italic; */
  font-weight: normal;
  /* font-weight: 700; */
  font-size: 1.13rem;
  padding: 1rem;
  border: 1px solid #0e4f1f;
  text-shadow: 4px 4px 3px #ccc;

  /* font: font-style? font-variant? font-weight? font-size/line-height? font-family */
  /* line-height: 3; */
  /* text-decoration: line-through wavy red; /*overline underline;*/*/

  /* font-variant: small-caps; */
  /* font-stretch: ultra-condensed; not toooo effective requires availability in the font */
  /* letter-spacing: 1rem; */
  /* white-space: pre-line; /normal / nowrap / pre */
}
@media (min-width: 40rem) {
  main {
    /* max-width: 90rem; */
    max-width: 90rem;
    margin: 6rem auto;
  }
  .plan {
    max-width: 60rem;

    /* margin: 4rem auto; */
  }
}

@media (min-width: 70rem) {
  .plan {
    border: 3px #0e4f1f solid;
  }
}

@keyframes move-up {
  0% {
    transform: translateY(0.3rem);
  }
  30%{
    transform: translateY(0);
  }
  60%{
    transform: translateY(-0.7rem);
  }
  100%{
    transform:translateY(-1rem);
  }
}




