.container {
  position: relative;
  margin: 150px auto;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  perspective: 800px;
  perspective-origin: 400px;
  transform: rotateY(100deg);
  transform-style: preserve-3d;
}

.box1 {
  position: absolute;
  background: red;
  width: 100%;
  height: 100%;
  /* transform: rotateX(30deg) rotateY(30deg) rotateZ(50deg); */
  transform: rotateY(40deg);
  color: white;
  font-family: sans-serif;
  font-size: 3rem;
  text-align: center;
  backface-visibility: visible;
}
.box2 {
  position: absolute;
  background: blue;
  width: 100%;
  height: 100%;
  color: white;
  font-family: sans-serif;
  font-size: 3rem;
  text-align: center;
  transform: translateZ(-30rem);
}

