body {
  height: 100vh;
  margin-top: 4.5rem;
}
main {
  display: flex;
  flex-direction: column;
}

.testimonial {
  font-size: 1.2rem;
  margin: 3rem 0;
}

.testimonial__list {
  width: 80%;
  margin: auto;
}

.testimonial:first-of-type {
  margin-top: 6rem;
}

.testimonial__image-container {
  width: 70%;
  max-width: 40rem;
  display: inline-block;
  box-shadow: 2px 3px 5px 3px rgba(0, 0, 0, 0.4);
  transform: skewX(20deg);
  overflow: hidden;
}

.testimonial__image {
  width: 100%;
  vertical-align: bottom;
  transform: skewX(-20deg) scale(1.25);
}

.testimonial__info {
  text-align: right;
  padding: 0.88rem;
}

#customer-1:hover .testimonial__image-container {
  animation: flip-customer 1s ease-out forwards;
}

#customer-2.testimonial {
  text-align: right;
}

#customer-2 .testimonial__info {
  text-align: left;
}
.testimonial__name {
  margin: 0.2px;
  color: #ff5454;
  font-size: 2rem;
}

.testimonial__subtitle {
  margin: 0;
  font-size: 1.13rem;
  color: #ccc;
}

.testimonial__subtitle a {
  color: inherit;
  text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
  color: #7a7a7a;
}

.testimonial__text {
  margin: 0.2px;
  line-height: ;
}

@media (min-width: 40rem) {
  .testimonial {
    max-width: 90rem;
    margin: 6rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .testimonial__image-container {
    width: 65%;
    max-width: 640px;
  }
  .testimonial__info {
    text-align: right;
    width: 30%;
  }
}

@keyframes flip-customer {
  0% {
    transform: rotateY(0) skew(20deg);
  }
  50% {
    transform: rotateY(160deg) skew(20deg);
  }
  100% {
    transform: rotateY(360deg) skew(20deg);
  }
}

