body {
  height: 100vh;
}
main {
  margin-top: 7rem;
}
.signup-title {
  text-align: center;
  font-size: 1.8rem;
  color: #ff5454;
}

.signup-form {
  display: grid;
  grid-auto-rows: 2rem;
  grid-gap: 1rem 0.5rem;
  align-items: center;
  margin: 1rem;
}
.signup-form label {
  font-weight: bold;
}

.signup-form label,
.signup-form input,
.signup-form select {
  /* width: 100%; */
}

/* .signup-form input[type="checkbox"] */
/* .signup-form input[id*="terms"] */
.signup-form input[id|="agree"],
.signup-form input[id|="agree"] + label {
  display: inline-block;
  width: auto;
  vertical-align: bottom;
}

.signup-form input:not([type="checkbox"]),
.signup-form select {
  border: 1px solid #ccc;
  padding: 0.2rem 0.5rem;
  font: inherit;
  border-radius: 0.3rem;
}

.signup-form input[type="checkbox"] {
  border: 1px solid #ccc;
  background: white;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 0.3rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.signup-form input[type="checkbox"]:checked {
  background: #2ddf5c;
  border: #0e4f1f;
}

.signup-form input:focus,
.signup-form select:focus {
  outline: none;
  background: #d8f3df;
  border-color: #2ddf5c;
}

.signup-form button[type$="bmit"] {
  display: block;
}

.signup-form input.invalid,
.signup-form select.invalid,
.signup-form :invalid {
  border-color: red !important;
  background: #faacac;
}
@media (min-width: 40rem) {
  .signup-form {
    margin: auto;
    width: 30rem;
    grid-template-columns: 10rem auto;
  }

  select#title,
  label[for="title"] {
    grid-column: span 2;
  }
  .signup-form__checkbox {
    grid-column: span 2;
  }
}

