#product-overview {
  /* shorthand for all background: */
  background: linear-gradient(to top, rgba(80, 68, 18, 0.3) 10%, transparent),
    url("./images/freedom.jpg") left 45% top 25% / cover no-repeat border-box,
    var(--highlight-red);
  /* background-image: url("freedom.jpg"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: left 10% top 25%; */
  /* background-origin: border-box; */
  /* background-clip: border-box; */
  /* background-attachment: scroll /fix / local -> for scroll behavior if container is not fixed. */
  /* or we do linear gradient (goes with -background-image ) */
  /* background-image: linear-gradient(to left bottom, red, blue); */
  /* background-image: linear-gradient(30deg, red, blue, green, orange); */
  /* background-image: linear-gradient(30deg, red, transparent); */
  /* background-image: linear-gradient(30deg, red 40%, green, transparent); */
  /* background-image: radial-gradient(red, blue, orange); */
  /* background-image: radial-gradient(circle, red, blue, orange); */
  /* background-image: radial-gradient(circle at top right, red, blue, orange); */
  /* background-image: radial-gradient(circle at 20% 50%, red, blue, orange); */
  /* background-image: radial-gradient( */
  /*   ellipse 40px 70px at 20% 50%, */
  /*   red, */
  /*   blue, */
  /*   orange */
  /* ); */
  /* background-image: radial-gradient( */
  /*   ellipse farthest-corner at 20% 50%, */
  /*   red, */
  /*   blue, */
  /*   orange */
  /* ); */

  height: 35vh;
  width: 100vw;
  padding: 0.6rem;
  margin-top: 2.7rem;
  position: relative;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  margin: 0;
  position: absolute;
  bottom: 2.5rem;
  left: 3.75rem;
  font-size: 1.6rem;
}
.plan__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plan {
  background-color: #d5ffdc;
  padding: 1rem;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.plan--highlighted {
  background-color: #18b84c;
  color: white;
}

.plan__annotation {
  background-color: white;
  color: #18b84c;
  padding: 0.2rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 0.2rem;
}

.plan__title {
  color: #0e4f1f;
  margin: 0;
}

.plan__price {
  margin: 0;
  color: #858585;
}
.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan__feature {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature li {
  margin: 0.5rem;
}

#key-features {
  background-color: var(--highlight-red);
  margin-top: 5rem;
  padding: 1rem;
}

#key-features .section-title {
  color: white;
  margin: 2rem;
}

.key-features {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.key-feature__image {
  background-color: #ffcede;
  width: 8rem;
  height: 8rem;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
  padding: 1.25rem;
}

.key-feature p {
  font-size: 1.25;
  font-weight: bold;
  text-align: center;
  color: white;
}

.modal {
  position: fixed;
  opacity: 0;
  transform: translateY(-3rem);
  /* transition: opacity 200ms ease-out, transform 500ms ease-out; */
  transition: opacity 400ms ease-out,
    transform 700ms cubic-bezier(0.74, 0.01, 0.28, 1.96);
  /* transition: [ property-to-watch, total-time-of-transition, type-of-acceleration, initial pause ] values taken from other sections in css. Here fe: tranform up here and in the .open class inside shared.css. https://easings.net/ for timing functions*/
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

@media (min-width: 40rem) and (min-height: 40rem) {
  #product-overview {
    height: 50vh;
    background-position: left 10% top 25%;
  }
  #product-overview h1 {
    font-size: 3rem;
  }
}
@media (min-width: 40rem) {
  #plans {
    width: 98%;
    margin: auto;
    text-align: center;
  }

  .plan__list {
    flex-direction: row;
  }
  .plan {
    height: 22rem;
    width: 28%;
    margin: 0.2rem;
    vertical-align: middle;
    min-width: 12rem;
    max-width: 25rem;
  }

  .plan--highlighted {
    height: 25rem;
    box-shadow: 3px 2px 4px 2px rgba(0, 0, 0, 0.5);
  }

  .plan__annotation {
    font-size: 0.95rem;
  }
}
@media (min-width: 40rem) {
  .key-features {
    padding: 0;
    margin: 0;
    flex-direction: row;
  }

  .key-feature {
    width: 30%;
    vertical-align: top;
    min-width: 12rem;
    max-width: 26rem;
  }
}

