@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

:root {
  --dark-green: #0e4f1f;
  --highlight-red: #ff1b68;
}
* {
  box-sizing: border-box;
}
html {
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-rows: auto fit-content(8rem);
    grid-template-areas:
      "content"
      "footer";
  }
}

body: :-webkit-scrollbar {
  width: 0;
  /* disabling scrollbars on windows; */
}

main {
  grid-area: content;
  /* min-height: calc(100vh - 4.5rem); */
}

.backdrop {
  display: none;
  opacity: 0;
  transition: opacity 200ms linear;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.button {
  background-color: var(--dark-green);
  color: white;
  font: inherit;
  font-weight: bold;
  border: 1.5px solid var(--dark-green);
  padding: 0.5rem;
  border-radius: 0.28rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: white;
  color: var(--dark-green);
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.7);
}

.button:focus {
  outline: none;
}

.button[disabled] {
  cursor: not-allowed;
  border: #a1a1a1;
  background: #ccc;
  color: #a1a1a1;
  box-shadow: none;
}
.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  background: #2ddf5c;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem;
}

.main-header__brand {
  color: var(--dark-green);
  padding-left: 1rem;
  vertical-align: middle;
}
.main-header__brand img {
  height: 2.5rem;
  vertical-align: middle;
}

.main-nav {
  display: none;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav__item {
  margin: 0 1rem;
}
.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: var(--dark-green);
  font-weight: bold;
  padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: white;
  background: var(--highlight-red);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: var(--highlight-red);
  background: white;
  border: none;
}

.main-nav__item--cta {
  /* animation: wiggle 200ms 3s 8 forwards
   * Animation: NAME DURATION DELAY TIMING-FUNCTION ITERATION DIRECTION FILL-MODE PLAY-STATE;
    Example: animation: wiggle 200ms 1s ease-out 8 alternate forwards running;s; */
  /* animation: wiggle 200ms 3s 8 alternate none; */
  animation: wiggle 200ms 2s 8 ease-out;
}

.mobile-nav {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 180ms ease-in;
}

.mobile-nav__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  list-style: none;
}

.mobile-nav__item {
  height: 3rem;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.main-footer {
  background-color: black;
  border: none;
  padding: 0.8rem;
  margin-top: 3rem;
  grid-area: footer;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-footer__link {
  margin: 0.5rem 0;
}
.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}
.open {
  opacity: 1 !important;
  transform: translateX(0) translateY(0) !important;
}

@media (min-width: 40rem) {
  .main-nav {
    display: flex;
    margin: 1rem 0;
  }
  .toggle-button {
    display: none;
  }
  .main-footer {
    padding: 2rem;
  }
  .main-footer__links {
    flex-direction: row;
  }
  .main-footer__link {
    margin: 0 1rem;
  }
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0);
  }

  50% {
    transform: rotateZ(-10deg);
  }

  100% {
    transform: rotateZ(10deg);
  }
}

