* {
  box-sizing: border-box;
  font-size: 1.5rem;
}

html {
  background: #b3b3b3;
  padding: 5px;
}

body {
  background: #b3b3b3;
  padding: 5px;
  margin: 0;
}

.flex-container {
  background: white;
  padding: 10px;
  border: 5px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap /* wrap; */
  height: 800px;
  /* flex-direction: row;  row-reverse, column column-reverse  */
  /* flex-wrap: nowrap;  these are the defaults: row and nowrap*/
  /* flex-flow: row wrap; --shorthand */
  /* align-items: stretch; */
  align-items: center; /* center along cross axis */
  /* align-items: flex-end; or flex-start... of course along cross axis*/
  justify-content: flex-start; /*center; or flex-start, flex-end everything along main axis */
  /* align-content: center; */
}

.item-1 {
  background: #ff7300;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
}

.item-2 {
  background: #ff9640;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  width: 250px;
  font-size: 1.8rem;
}

.item-3 {
  background: #ff9640;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  height: 250px;
  align-self: flex-start; /* align single item along cross axis */
}

.item-4 {
  background: #f5c096;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  width: 300px;
  height: 300px;
  order: -1; /* numbers low-high along the main axis */
}

.item-5 {
  background: #d3c0b1;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  width: 350px;
  /*flex-grow: 1; */
  /* flex-shrink:1; */
  flex-basis: 300px;  /* sets this value for the height or width, depending on main axis! in px, % auto, or other values*/
}

.item-6 {
  background: #d3c0b1;
  color: white;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  width: 350px;
  /* flex-grow:4; /* when expanding the remaining space after 3* 350 for item [5,6] is calculated and then distributed 1:4
                along the main axis. Mind you: with wrap enabled after wrapping an item will occupy the full space in the new line */
  /* flex-shrink:4; /1* 0: no shrinking, other values:  shrinking in ratio. *1/ */

  flex: 0 1 auto; /* shorthand for defaults of flex-grow, flex-shrink, flex-basis */

}












