.container {
  margin: 20px;
  display: grid;
  height: 100vh;
  grid-template-columns: [col-1-start] minmax(8rem, 20%) [col-2-start] auto;
  grid-template-rows: [row-header-start] 3rem [row-main-start] auto [footer-start] 4rem;
  grid-gap: 0.5rem;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

header {
  background: rgba(255, 154, 72, 0.5);
  grid-area: header;
}

aside {
  background: rgba(255, 0, 0, 0.5);
  grid-area: sidebar;
}

main {
  background: rgba(0, 128, 0, 0.5);
  grid-area: main;
}

footer {
  background: rgba(0, 4, 255, 0.5);
  grid-area: footer;
}

