.container {
  margin: 20px;
  display: grid;
  height: 100vh;
  grid-template-columns: [col-1-start] minmax(8rem, 20%) [sidebar-end] 0.5rem [main-start] auto;
  grid-template-rows: [header-start] 3rem [header-end] 0.5rem [main-start] auto [main-end] 0.5rem [footer-start] 4rem;
}

.header {
  background: rgba(255, 154, 72, 0.5);
  grid-column-start: col-1-start;
  grid-column-end: -1;
}

.sidebar {
  background: rgba(255, 0, 0, 0.5);
  grid-row-start: main-start;
}

.main {
  background: rgba(0, 128, 0, 0.5);
  grid-row-start: main-start;
  grid-column-start: main-start;
}

.footer {
  background: rgba(0, 4, 255, 0.5);
  grid-row-start: footer-start;
  grid-column-start: col-1-start;
  grid-column-end: -1;
}

