.container {
  margin: 20px;
  display: grid;
  height: 500px;
  /* grid-template-columns: 200px 2fr 20% 1fr; */
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: [row-1-jim] 5rem [row-2-bart joanna] 2.5rem [row-3-end] minmax(
      20px,
      300px
    );
  /* grid-column-gap: 20px; */
  /* grid-row-gap: 10px; */
  grid-gap: 10px 20px;

  /* we have 4 cols, 3 cels. */
  grid-template-areas:
    "header header header header"
    "side side main main"
    ". footer footer .";
  /* justify-items: start; /1* center;  *1/ */
  /* align-items: end; */

  /* to position the entire grid content within its container : */
  /* justify-content: center; main-axis */
  /* align-content: end; cross-axis */
}

@media (max-width: 40rem) {
  .container {
    grid-template-columns: repeat(4, 25%);
    grid-template-rows:
      [row-1-start] 5rem
      [row-2-start joanna] 2.5rem
      [row-3-start] minmax(20px, 300px)
      [row-4-start] 100px;

    grid-template-areas:
      "header header header header"
      "side side side side"
      "main main main main"
      ". footer footer .";
  }
}

.el1 {
  background: rgba(255, 154, 72, 0.5);
  grid-area: side;
}

.el2 {
  background: rgba(255, 0, 0, 0.5);
  /* grid-column-start: 1; */
  /* grid-column-end: -1; */
  /* grid-column: 1 / -1; */
  /* grid-row-start: joanna; */
  grid-area: main;
  justify-self: center;
  align-self: center;
  z-index: 10;
}

.el3 {
  background: rgba(0, 128, 0, 0.5);
  /* grid-column-end: 5; */

  /* grid-column-start: 2; */
  /* grid-column-end: span 3; */
  /* grid-row-start: 1; */
  /* grid-row-end: 3; */

  /* grid-area: row-start / col-start / row-end / col-end */
  grid-area: header;
}

.el4 {
  background: rgba(0, 4, 255, 0.5);
  grid-area: footer;
}

